<header>
  <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.15.4/css/all.css">
</header>
<ion-content>
<ion-list class="main-header">
<div class="usersetting" align="center" style="margin-top: 20px">
  
  <ion-avatar>
    
    <img src="https://avatars.githubusercontent.com/u/103176578?v=4">
  </ion-avatar>
  <p style="color: black;">Bagus Andre Wijaya </p>
  <p>  320</p>
    
</div>
</ion-list>
<ion-list style="margin-top:10px">
  <ion-item >
    <ion-label style="color: black;">User Setting</ion-label>

      <i class="fas fa-tools" style="margin-right: 10px; color: orange;"></i>
     
  
  </ion-item>
  <div class="button list" style="margin-top:10px"></div>
  <ion-item>
    <ion-label style="color: black;">Privacy</ion-label>

    <i class="fas fa-user-shield" style="margin-right: 10px; color: orange;"></i>
  </ion-item>
  <ion-item>
    <ion-label style="color: black;">Pembayaran</ion-label>

    <i class="fas fa-wallet" style="margin-right: 10px; color: orange;"></i>
  </ion-item>
  
  
</ion-list>
<div class="logout" style="margin-top: 70% ;"  align="center">
  <button class="buttonnav">Sign Out</button>
</div>
</ion-content>
