ion-content{
    --background:#2192FF;
}


.container{
    -webkit-animation:scale-in-center 8s cubic-bezier(.25,.46,.45,.94) both;animation:scale-in-center 8s cubic-bezier(.25,.46,.45,.94) both;
    img{
        height: 100%;
      width: 60%;
        margin-top: 50%;
    }
}