<ion-header>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
</ion-header>


<ion-tabs >
  <ion-tab-bar slot="bottom" color="blueprimarycollor" style="border-radius: 25px 25px 0 0;">
  <ion-tab-button tab="dashboard">
    <div class="icons">
      <img src="../../../assets/icon/business-report.png">
    </div>
    
  <ion-label>DashBoard</ion-label>
  </ion-tab-button>
  <ion-tab-button tab="settings">
    <div class="icons">
      <img src="../../../assets/icon/settings.png">
      
    </div>
  <ion-label>Settings</ion-label>
  </ion-tab-button>
  
 
  </ion-tab-bar>
  </ion-tabs>