
<ion-header>

</ion-header>
<ion-content class="ion-padding">
<ion-slides pager="true">
  <ion-slide class="ion-padding">
    <img src="../../assets/images/Project_70-15.jpg">
    <div class="slide-text">
      <h2>Selamat Datang Di Aplikasi <br>
      Ruang Belajar</h2>

      <p>
      Ruang Belajar Adalah Aplikasi Pembelajaran Bikin Belajar Kamu Bisa Dimana Kapan Aja Hanya Dengan Satu Aplikasi
      </p>
    </div>

    <div class="navigator">
      <ion-button color="primary" fill="clear" (click)="skip()">SKIP</ion-button>
      <ion-button color="primary" fill="clear" (click)="next()">NEXT</ion-button>
    </div>
  </ion-slide>
  <ion-slide class="ion-padding">
    <img src="../../assets/images/math-teacher.png">
    <div class="slide-text">
      <h2>Mentor Ter-akreditasi</h2>
      <p>
       Tenang Aja kamu Bakal Belajar Sama Mentor Terbaik Kami Yang Pastinya Mentor-Mentor Tersebut Sudah Melewati Tahap Seleksi Dengan Nilai Akademik Tertinggi 
      </p>
    </div>

    <div class="navigator">
      <ion-button color="primary" fill="clear" (click)="skip()">SKIP</ion-button>
      <ion-button color="primary" fill="clear" (click)="next()">NEXT</ion-button>
    </div>
  </ion-slide>
  <ion-slide class="ion-padding">
   
    <div class="slide-text">
      <img src="../../assets/images/2523_R0lVIEFOTiAxNjctMjA.jpg">
      <h2>Metode Pembelajaran Yang Menarik</h2>
      <p>
        Disini Kamu Bakal Diajarin Pake Metode Penyelesaian Masalah Soal Dengan Banyak Cara Pastinya Metode Terbaik Dari Mentor Terbaik Ruang Belajar 
        <br>
        Yuk Join!! Klik Tombol Dibawah Untuk Join
      </p> 
      </div>
    <div class="action-button">

    <button class="buttonnav" (click)="home()">MULAI JELAJAHI</button>
  </div>  
    <div class="navigator">
      <ion-button color="primary" fill="clear" (click)="back()">BACK</ion-button>

    </div>
  </ion-slide>
</ion-slides>
</ion-content>